@model Inmobiliaria.Models.Propietario

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>SEGURO QUIERES ELIMINAR A ESTE PROPIETARIO ?</h3>
<div>

    <hr />
    <h4>Datos Del Propietario</h4>
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="ELIMINAR" class="btn btn-danger" />
        <a asp-area="" asp-controller="Propietario" asp-action="Index">VOLVER</a>
    </form>
</div>

