<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmobiliaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
   
    
    <script src="https://unpkg.com/mustache@latest"></script>


</head>

<body  style="background-color:gainsboro;">



    <header>
        <nav  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span><i class="bi bi-building"></i></span>Inmobiliaria</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Inquilino" asp-action="Index"><span><i class="bi bi-people-fill"></i></span>Inquilinos</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Propietario" asp-action="Index"><span><i class="bi bi-file-person-fill"></i></span>Propietarios</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Inmueble" asp-action="Index"><span><i class="bi bi-house-fill"></i></span>Inmuebles</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contrato" asp-action="Index"><span><i class="bi bi-file-text"></i></span>Contratos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pago" asp-action="Index"><span><i class="bi bi-cash"></i></span>Pagos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index"><span><i class="bi bi-cash"></i></span>Usuarios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="container">
            <div class="">
                @if (ViewBag.Id != null)
                {//alta exitosa
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>¡Éxito!</strong> La entidad fue dada de alta con id: @ViewBag.Id
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                        </button>
                    </div>
                }
                else if (ViewBag.Mensaje != null)
                {//cartel general
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <strong>Información:</strong> @ViewBag.Mensaje
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                        </button>
                    </div>
                }
                else if (ViewBag.Error != null)
                {//alta exitosa
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>¡Error!</strong> @ViewBag.Error
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                        </button>
                    </div>
                }
                else if (!String.IsNullOrWhiteSpace(ViewBag.Error))
                {//ocurrió un error
                    <environment names="Development">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>¡Error!</strong> Ocurrió: @ViewBag.Error
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
                            </button>
                            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"><span class="lnr lnr-plus-circle"></span></a>
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                @ViewBag.StackTrace
                            </div>
                        </div>
                    </environment>
                }
                <div class="m-1 p-1">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Inmobiliaria de Pamela Cynthia Peñaloza
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
